nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:  20px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

.top-left span:hover, a:hover {
  color: rgba(255,255,255,1);
}

.top-left {
  margin: 0;
  padding: 5px;
  width: 50%;
  float: left;
}

.heart {
  padding: 15px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 5px;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-links a:hover {
  color: rgba(255,255,255,1);
}

.clearfix { 
  clear: both;
}

header {
  background-color: rgb(32, 101, 136);
  background-image: url(/home/guillermo/Documentos/Ironhack/webcreation/images/city-scape.svg);
  color: white;
  padding-top: 15px;
  height: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:  20px;
}

.header-1-div {
  height: 50px;
}

.header-logo {
  float: left;
  padding: 7px 0 0 30px;
}

.slot-form-container {
  width: 1600px;
  margin: 0 9%;
  float: left;
  padding: 0;
}

.input-style {
  height: 25px;
  outline: none;
  padding: 8px;
  width: 100%;
  background: rgb(31, 82, 111);
}

.header-1-div p {
  display: inline-block;
  width: 200px;
  float: right;
  line-height: 10px;
}

.header-1-div p a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);  
}

.header-1-div p a:hover {
  color: rgba(255,255,255,1);
}

.header-2-div {
  width: 1400px;
  margin: 0 auto;
  font-size: 26px;
  padding: 150px;
}

.header-2-div p {
  width: 800px;
}

.button-style {
  background-color: rgb(240, 146, 51);
  width: 300px;
  border-radius: 30px;
  height: 50px;
  border: 0;
  color: white;
  font-size: 24px;
  padding: 0 15px;
}

.button-style:hover {
  background-color: rgb(240, 126, 13);
}

#power-col {
  color: White;
  Background-color: rgb(39, 53, 71);
  height: 900px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.power-style {
  width: 50%;
  margin: 0 auto;
  float: right;
  padding: 300px 0;
}

.power-style h1 {
  font-size: 3em;
}

#power-col .ul-style {
  line-height: 1.5;
  font-size: 25px;
}

.power-image-style {
  width: 35%;
  margin: 0 auto;
  float: left;
  padding: 230px 0 230px 15%;
}

.button-style-2 {
  background-color: rgb(203, 56, 55);
  width: 300px;
  border-radius: 30px;
  height: 50px;
  border: 0;
  color: white;
  font-size: 24px;
  padding: 0 15px;
}

.button-style-2:hover {
  background-color: rgb(177, 19, 19);
}

#power-col p {
  font-size: 24px;
  color: white;
}

#power-col a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-weight: 700;
  padding: 10px;
}

#power-col a:hover {
  color: rgba(255,255,255,1);
}

#what-is-NPM {
  color: White;
  Background-image: url(/home/guillermo/Documentos/Ironhack/webcreation/images/forklift.svg);
  background-size:cover;
  height: 650px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: relative;
}

.what-is-style {
  width: 20%;
  margin: 7% 17% 12% 20%;
  position: absolute;
}

.what-is-style h1 {
  font-size: 3em;
}

.what-is-style p {
  font-size: 24px;
}

.button-style-3 {
  background-color: rgb(49, 68, 88);
  width: 300px;
  border-radius: 30px;
  height: 50px;
  border: 0;
  color: white;
  font-size: 24px;
  padding: 0 15px;
}

.button-style-3:hover {
  background-color: rgb(23, 50, 78);
}

#What-can-you-make {
  color: black;
  background-color: white;
  height: 700px;
}

#What-can-you-make h1 {
  color: rgb(83, 88, 98);
  font-size: 50px;
}

.heading-what {
  width: 100%;
  margin: 10 auto 0;
  text-align: center;
  padding: 50px 0 50px 0;
}

.heading-what p {
  color: rgb(135, 145, 156);
  font-size: 24px;
}

.body-what {
  width: 100%;
  margin: 0 auto 0;
}

.col { 
  float: left;
  text-align: center;
  line-height: 1.5; 
}

.col-middle {
  margin: 0 5%;
}

.col-3 {
  width: 30%;
}

#What-can-you-make .what-body-title {
  font-size: 2em;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 20 0;
}

#What-can-you-make .what-body-par {
  font-size: 1.5em;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  line-height: 1.5;
}

.body-what-link-style {
  text-decoration: none;
  color: rgb(208, 74, 73);
  font-weight: 700;
}

.body-what-link-style:hover {
  text-decoration: underline;
  color: rgb(208, 74, 73);
}
